body {
    margin: 0 auto;
    font-family: "ALSSchlangesans", serif;
    background-color:#708090 ;
}
header {
    width: 100%;
    position: fixed;
    font-family: "ALSSchlangesans", cursive;
    text-align: center;
    color: #2F4F4F;
    font-size:23px ;
    margin-top: 30px;

}
.choosex{
    margin-right: 4px;
    width: 30px;
}

.choosex.clicked{
    height: 30px;
    width: 35px;
}

.left_part{
    float: left;
    margin-left: 90px;
}

.right_part{
    float: right;
    margin-top: 50px;
    margin-right: 250px;
}


.container {
    padding: 30px;
    box-sizing: border-box;
}

#result_table #first {
    background-color: #2F4F4F;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#result_table tr:nth-child(even) {
    background-color: white;
}

#result_table {
    text-align: center;
    width: 100%;
    color: black;
    overflow: hidden;
    border-collapse: collapse;
}


